body{
    background: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4NjUwODQ3LWltYWdlLWpvYjYzMC1hXzIuanBn.jpg);
    margin-bottom:75px;
}
.img-container{
    font-family: 'EB Garamond', serif;
}
.img1{
    height:750px;
    width:500px;
    margin-bottom:50px;
    border-radius:20px;
}
div center h1{
    font-size:45px;
}
div center p{
    font-size:25px;
}
.heading{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
}
.Summary-Container h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:28px;
    margin-left:190px;
    margin-right:190px;
}
.Summary-data{
    
}
.Summary-Container p{
    font-size:23px;
    margin-left:200px;
    margin-right:190px;
}
.Summary-Container ul li{
    font-size:23px;
    margin-left:250px;
}
.quotes{
    width:45%;
    height:20%;
}
blockquote {
    font-family: Special Elite, sans-serif;
    /* font-size: 2.25rem; */
    background-color: ghostwhite;
    padding-top:10px;
    width:100%;
    height:auto;
    border-radius: 10px;
    background: url(https://i.pinimg.com/originals/10/f9/44/10f944389ace361ae00a3fc6b7b16e9e.jpg)
    }
blockquote .quote_writer{
    font-size:18px;
    text-align:center;
    font-family: Noto Sans JP, sans-serif;

}